* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}


.wrapper {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input_field {
    margin-bottom: 15px;
}

.input_field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    background-color: #14aa39;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0e8c2a;
}

.messages {
    margin-top: 20px;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
}

