* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    position: relative;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #882d21;
}

#responseMessage {
    margin-top: 10px;
    text-align: center;
}